#phone-screen {
    cursor: not-allowed;
}

#phone-screen[class~="minitouch"] {
    cursor: default;
}

.screen-container {
	text-align: center;
}

.screen-container ul {
	position: relative;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}