
body {
    background-color: #bdbdbd;
}

.device-container {
    /*border: 1px solid red;*/
    padding: 5px 5px 5px 5px;
    background-color: #f9f9f9;
}

.device-container img {
    width: 100%;
    cursor: pointer;
}

.device-detail {
    text-align: center;
}

.setting {
    display: inline-block;
    float: right;
}

canvas{
    width: 100%;
}

@media (min-width: 768px) {
    .device-container {
    }
}
@media (min-width: 992px) {
    .device-container {
    }
}
@media (min-width: 1200px) {
    .device-container {
    }
}
